@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional custom scrollbar for code editor */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #4f46e5;
  border-radius: 3px;
}
